@import url("grid.css");
@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger);
@import url(http://fonts.googleapis.com/css?family=Nosifer);
@import url(http://fonts.googleapis.com/css?family=Chela+One);
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);

body {

margin-top:0 !important;
}

#top-of-page {
background-color:#303030;
opacity:0.9;
}

html {
background-color:#303030;
}


h1,h2,h3,h4,h5,h6 {
font-family: 'Chela One', cursive;
color:#94B8B8;
background-color:#303030!important;
}


nav {
text-align:left;
opacity:0.9;
height:500px;
width:1000px;
background-image: url("images/banner1.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position:center;
margin-left:auto;
margin-right:auto;
border-top:2px solid black;
font-family: 'Jolly Lodger', cursive;
}


header h1 {
display:none;
}

header h4 {
display:none;
}


nav ul {
width:auto;
margin-top:30%;
}

nav li {
display:inline;
}

nav a {
font-size:2.4rem;
/*text-decoration:none; */
color:rgb(112,112,112);
margin:5px;
}

nav :hover{
color:white;
}



@media only screen and (max-width: 768px) {

	nav {
	width:100%!important;
	height:250px!important;
	}

	
	.container {
	width:100%!important;
	margin-left:auto;
	margin-right:auto;
	}
	
	
	.main-container {
	width:100% !important;
	}
	footer {
	width:100%;
	}


}


.main-container {
margin-top:0;
margin-left:auto;
margin-right:auto;
color:white;
background-color:#303030!important;
opacity:0.9;
}

.container {
margin-left:auto;
margin-right:auto;
width:90%;
background-color:#303030!important;
}

.container h2 {
text-align:center;
}

.container li {
background-color:#303030!important;
}


.container h1 {
margin-top:10px;
text-align:center;
}


article {
color:#94B8B8;
background-color:#303030!important;
text-align:center;
text-decoration:none;
font-size:1.4rem;
}
.nav-button  {
border:2px groove;
background-color:white;
font-size:1.2rem;
min-width:120px;
text-align:center;
color:rgb(112,112,112);
text-decoration:none;
font-family: 'Signika Negative', sans-serif;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
margin-top:20px;
}

.next {
float:right;
margin-right:50px;
}

.last {
float:left;
margin-left:50px;
}
.committed-comments {
text-align:center;
font-size:1.3rem;
}

.article-footer {
font-size:1rem;
text-align:center;
margin-left:auto;
margin-right:auto;
}

.article-footer span a {
color:white;
}

.grid.g4.history {
display:none;
}

.grid.g8 {
text-align:center;
color:black;
font-size:1.5rem;
}

p {
color:#94B8B8;
background-color:#303030!important;
}

button {
Font-size:1.1rem;
font-family: 'Signika Negative', sans-serif;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}

button:hover {
color:#94B8B8;
}
.grid.g12 {
text-align:center;
}

#comment-box{
text-align:center;
}

.comment-form input[type="text"]{
margin-top:10px;
margin-left:10px;
margin-right:10px;
}

.comment-form textarea{
margin-top:20px;
width:500px;
}

.submit-comment-button {
font-family: 'Signika Negative', sans-serif;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
Font-size:1.1rem;
}

.submit-comment-button:hover {
color:#94B8B8;
}

footer {
text-align:center;
margin-top:30px;
}

footer a {
display:none;
}
footer li {
color:white;
display:inline;
text-decoration:none;
}

