
/*--------------------------------------------------------+
|		       W H I T E B O A R D   C M S                |
|					   dark.css						 	  |
|			   Author: Marius Baltramaitis			      |
+---------------------------------------------------------+
|	<1> Importsetninger	                                  |
|	<2> Oppset av rotelementer                            |
|	<3>Komponenter                                        |
|		-<3a> Header                                      |
|		-<3b> Knapper                                     |
|		-<3c> Konteinere                                  |
|		-<3d>Kommentarer                                  |
|		-<3e> footer                                      |
|	<4> Oppset av klasser som skjuler innholdet på html   |
|	<5> Oppset av elementer for mobilskjerm               |
|	                                 					  |
+--------------------------------------------------------*/

/* Importsetninger */

@import url(http://fonts.googleapis.com/css?family=Andika); /* Font for h1,h2,h3,h4,h5,h6 tagger */
@import url(http://fonts.googleapis.com/css?family=Nosifer); /* Font for h1 på toppen */
@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger); /* Font for menu bar */

/* <2> Oppset av rotelementer */

html {
color:white;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Andika', sans-serif;
color:#E6E6E6;
}


p {
line-height:2rem;
color:#B2FFB2;
opacity:0.9;
}


li{
list-style-type:none;
}


body {
background-color:#191919;
}

article {
font-size:1.3rem;
font-family: 'Andika', sans-serif;
}

article h2 {
text-align:center;
}

/* <3a> Egenskaper for elementene som ligger i header */


header {
border:1px solid black;
box-shadow:0px 5px 10px #6B6B6B;
width:100%;
color:white;
height:600px;
background-repeat: no-repeat;
background-size:cover;
background-position:center;
margin-left:auto;
margin-right:auto;
font-family: 'Jolly Lodger', cursive;
background-color:#191919;
background-image: url("images/banner1.jpg");
}

#top-of-page h1 {
clear:both;
float:right;
text-transform:uppercase;
font-family: 'Nosifer', cursive;
font-size:2.6rem;
margin-top:5px;
}


#top-of-page h4 {
display:none;
}

nav {
padding-top:400px;
padding-left:25px;
font-family: 'Jolly Lodger', cursive;
}


nav li {
margin:10px;
list-style-type:none;
display:inline;
}


nav a {
font-size:2.5rem;
color:rgb(112,112,112);
}



nav :hover{
color:white;
}


/* <3b> Knapper */

.submit-comment-button {
margin-top:50px;
margin-bottom:10px;
font-family: sans-serif;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
Font-size:1.1rem;
}

.submit-comment-button:hover {
color:#94B8B8;
}

#new-comment-button {
margin-top:50px;
margin-bottom:50px;
font-family: sans-serif;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
Font-size:1.1rem;
}

#new-comment-button:hover{
color:#94B8B8;
}

.nav-button  {
color:white;
border:2px groove;
font-size:1.2rem;
min-width:120px;
text-align:center;
text-decoration:none;
font-family:sans-serif;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
margin-top:20px;
}

.next {
clear:both;
float:right;
margin-right:50px;
}

.last {
clear:both;
margin-top:50px;
float:left;
margin-left:50px;
}

button:hover {
color:#94B8B8;
}



/* <3d> Kontainere */

.main-container{
width:75%;
margin-left:auto;
margin-right:auto;
clear:both;
}

.container {
clear:both;
}





/* <3d> Egenskaper for kommentarer */

.committed-comments{
line-height:2rem;
font-size:1.3rem;
color:white;
width:50%;
}

.comment-form input[type="text"]{
margin-top:10px;
margin-right:10px;
}

.comment-form textarea{
margin-top:20px;
width:400px;
}

/* Egenskaper for kommentar-footer ( Der hvor det står hvem har skrevet kommentaren ) */ 

.article-footer {
margin-top:5px;
margin-bottom:30px;
}

.article-footer span{
margin-top:15px;
color:#828282;
}
.article-footer a {
margin-top:15px;
margin-left:10px;
color:white;
}

.article-footer a:hover {
color:#CFCFCF;
}



/* <3e> Footer */
footer {
clear:both;
margin-top:30px;
text-align:center;
}

footer a {
display:none;
}
footer li {
color:white;
display:inline;
text-decoration:none;
}

footer ul {
margin:5px;
}

/*<4> Oppset av klasser som skjuler innholdet på html */
.grid.g4.history {
display:none;
}

  /*<5> Oppset av elementer for mobilskjerm  */
@media screen and (max-width:768px) {

 
	header {
	width:550px!important;
	height:250px!important;
	}
	
	nav{
	padding-top:100px;
	}
	
	#top-of-page h1 {
	display:none;
	}
	.main-container {
	clear:both;
	width:100%!important;
	}
	.container {
	width:100%!important;
	clear:both;
	}

	footer {
	width:100%!important;
	clear:both;
	}


}









