@charset "UTF-8";

/*--------------------------------------------------------+
|		       W H I T E B O A R D   C M S                |
+---------------------------------------------------------+
|	CSS til kontrollpanel                                 |
|	Skrevet av Vegar Norman, s189153                      |
|	--------------------------------                      |
|                                                         |
|	Innholdsfortegnelse:                                  |					
|                                                         |
|	<1> Importsetninger                                   |
|	<2> En ytterst simpel reset av elementer              |
|	<3> Oppsett av rotelementer                           |
|	<4> Grunnlinje                                        |
|	<5> Komponenter                                       |
|		<5a> Grunnleggende flexbox-layout                 |
|		<5b> Sidebar                                      |
|		<5c> Editor                                       |
|		<5d> Emneord                                      |
|		<5e> Kategorier                                   |
|		<5f> Meldingsbokser                               |
|		<5g> Oversiktssidene + tabeller                   |
|		<5h> Innlogging                                   |
|		<5i> Filedrop                                     |
|	<6> Grid                                              |
|	<7> Responsivt design                                 |
|		<7a> Små skjermer                                 |
|		<7b> Mellomstore skjermer                         |
|		<7c> Store skjermer                               |
|		<7d> Digre skjermer                               |
|	<8> Hjelpeklasser                                     |
+--------------------------------------------------------*/



/*	<1> Importsetninger
=====================*/

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("../fonts/fira/fira.css");



/*	<2> En ytterst simpel reset av elementer
==========================================*/

*, html, body, h1, h2, h3, h4, h5, h6, p, div, aside, article, section, header, footer, nav {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}



/*	<3> Oppsett av rotelementer
=============================*/

html {
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	color: rgba(14, 15, 20, 0.8);
}



/*	<4> Grunnlinje
================*/


/* Overskrifter */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 500;
}

h1, h2, h3 {
	padding-bottom: 1.5rem;
}

h4, h5, h6 {
	padding-bottom: 1rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: 0.6rem; }


/* Paragrafer */

p {
	padding-bottom: 1.5rem;
}


/* Lenker */

a {
	text-decoration: none;
	color: #0053d9;
}

a:hover {
	text-decoration: underline;
}

.cp-delete-link {
	color: #cc0000;
}



/* Skjemakomponenter  */


/* En litt strengere reset av komponenter */

input, button, textarea, select, option {
	font-family: "Fira Sans", sans-serif;
	font-size: 1rem;
	outline: 0;
}


/* Inputfelter */

input[type="text"], input[type="password"], textarea {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
}

	input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
		border: 1px solid rgba(0, 0, 0, 0.3);
	}

	input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border: 1px solid #0058e5;
		box-shadow: 0 0 5px #0058e5;
	}


/* Knapper */

input[type="submit"],
input[type="button"],
button,
.button {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #003b99;
	border-radius: 5px;
	display: inline-block;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.33);
	background-color: #0053d9;
	color: #ffffff;
}

	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover,
	.button:hover {
		text-decoration: none;
		background-color: #0058e5;
	}

	input[type="submit"]:active,
	input[type="button"]:active,
	button:active,
	.button:active {
		background-color: #004ecc;
	}


/* Størrelsesmodifikatorer */

.button.smaller {
	font-size: 80%;
	border-bottom-width: 2px;
}

.button.bigger {
	font-size: 125%;
}

.button.c2a {
	display: block;
}


/* Fargemodifikatorer */

.button.green {
	background-color: #00992b;
	border-bottom-color: #007321;
}

	.button.green:hover {
		background-color: #00a62f;
	}

	.button.green:active {
		background-color: #008c28;
	}


.button.red {
	background-color: #d00000;
	border-bottom-color: #a00000;
}

	.button.red:hover {
		background-color: #de0000;
	}

	.button.red:active {
		background-color: #c40000;
	}


/* Labels */

label {
	display: none;
}

.cp-category-label {
	display: inline;
}


/*	<5> Komponenter
=================*/


/* <5a> Grunnleggende flexbox-layout 
----------------------------------*/

.cp-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	min-height: 100%;
}


.cp-sidebar {
	flex: 0 0 auto;
	background-color: rgba(14, 15, 20, 1);
	min-width: 180px;
	max-width: 280px;
	width: 20%;
	min-height: 100%;
	padding: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.cp-main {
	flex: 1 1 auto;
	width: 80%;
	padding: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	.cp-main:before, .cp-main:after {
		display: table;
		content: " ";
		clear: both;
	}


/* Sidetittel */

.cp-site-title {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

	.cp-site-title span {
		color: rgba(14, 15, 20, 0.5);
		font-size: 70%;
		font-weight: 400;
	}



/* <5b> Sidebar
-------------*/

nav ul {
	list-style-type: none;
	margin: 0;
}

	nav ul li {
		margin: 0;
	}

		nav ul li a {
			display: block;
			padding: 0.5rem;
			color: #fff;
			text-decoration: none;
		}

			nav ul li a:hover {
				background-color: rgba(0, 200, 255, 0.16);
				text-decoration: none;
			}

			nav ul li a i.fa {
				padding-right: 0.5rem;
			}


/* Gi utloggingsknappen mer luft */

.cp-logout {
	margin-top: 3rem;
}



/*	<5c> Editor
-------------*/


/* Regel for distraction-free editing */

.post-editor-main.post-editor-distraction-free {
	margin: 0 auto;
	display: block;
	float: none;
	width: 90%;
	max-width: 1680px;
}


/* Fellesregler for tittelfelt og innholdsfelt */

.post-editor-title, .post-editor-content {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: rgba(14, 15, 20, 0.8);
}


/* Tittelfelt */

.post-editor-title {
	font-size: 150%;
	margin-bottom: 1rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	min-height: 4rem;
}

	.post-editor-title:hover {
		border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	}

	.post-editor-title:focus {
		border-bottom: 2px solid #0058e5;
	}


/* Innholdsfelt */

.post-editor-content {
	font-family: "Fira Mono", monospace;
	min-height: 65vh;
	padding: 1rem;
	border-width: 2px;
}

	.post-editor-content:hover, .post-editor-content:focus {
		border-width: 2px;
		box-shadow: none;
	}

	/* Editor for statiske sider trenger litt mer plass */
	.page-data {
		margin-bottom: 1.5rem;
	}


/*	Toolbar til innholdsfeltet */

.post-editor-toolbar {
	background-color: rgba(14, 15, 20, 0.25);
}

.post-editor-toolbar a {
	line-height: 0;
	text-align: center;
	padding: 0.4rem 0.8rem;
	font-size: 110%;
	color: rgba(14, 15, 20, 0.8);
	text-decoration: none;
	display: inline-block;
}

	.post-editor-toolbar a:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: #0058e5;
	}

	.post-editor-toolbar a span {
		display: none;
	}



/* <5d> Emneord 
-------------*/


.post-editor-section-tags {
	margin-bottom: 1.5rem;
}


/* Informasjonstekst */

.post-editor-help {
	color: rgba(14, 15, 20, 0.4);
	font-size: 90%;
	padding-bottom: 0.25rem;
}

/* Felt for gjeldende emneord */

.post-editor-current-tags {
	display: block;
	padding: 0.5rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5rem;
	min-height: 15vh;
}


/* Container for innlegging av emneord */

.post-editor-tags {
	margin-bottom: 3rem;
}

.post-editor-new-tag, .post-editor-tag-add {
	min-height: 3rem;
}


.post-editor-new-tag {
	padding: 0 0 0 0.5rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.post-editor-tag-add {
	font-size: 150%;
	line-height: 0;
	text-align: center;
}


/* De faktiske emneordene */

.tag {
	background-color: #0058e5;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	padding: 3px 4px;
	line-height: 1;
	font-size: 90%;
}

	.tag:hover {
		background-color: #d00000;
		cursor: pointer;
	}



/*	<5e> Kategorier
-----------------*/


.post-editor-categories {
	list-style-type: none;
	margin-bottom: 3rem;
}

	.post-editor-categories li {
		padding: 0.33rem 0;
	}

	.post-editor-categories label {
		padding-left: 0.5rem;
	}

		.post-editor-categories label:hover {
			color: #0058e5;
		}



/*	<5f> Meldingsbokser
---------------------*/


.cp-message {
	display: block;
	padding: 1rem;
	color: #ffffff;
	margin-bottom: 1.5rem;
}

	.cp-message.success {
		background-color: #00992b;
	}

	.cp-message.error {
		background-color: #d00000;
	}

	.cp-message.information {
		background-color: #0053d9;
	}



/*	<5g> Oversiktssidene + tabeller
---------------------------------*/


/* Tabell i oversiktssidene */

.cp-database-table {
	margin-bottom: 3rem;
}


table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

	tr:hover {
		background-color: #fffcb4;
	}

	tr:first-child:hover {
		background-color: #fff;
	}

		th {
			font-weight: bold;
		}

		td {
			border: 1px solid #ccc;
			padding: 0.5rem;
		}


/* Tabellmodifikatorer */

.noborder {
	border: 0;
}

.cp-table-select, .cp-table-id {
	width: 5%;
}

.cp-table-edit, .cp-table-delete, .cp-table-view {
	width: 10%;
}


/* Paginasjon */

.cp-view-pagination a {
	display: inline-block;
	padding: 0.5rem 1rem;
}



/*	<5h> Innlogging
-----------------*/


.login-page {
	background-color: #f0f0f0;
}

.cp-login {
	display: block;
	background-color: #fff;
	width: 90%;
	max-width: 400px;
	min-height: 20vh;
	margin: 25vh auto 0 auto;
	padding: 1.5rem;
}

	.cp-login-header {
		text-align: center;
		font-size: 120%;
		font-weight: 500;
		border-bottom: 2px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 3rem;
		padding-bottom: 0.75rem;
	}

	.cp-login input {
		display: block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}



/*	<5i> Filedrop
---------------*/


.cp-filedrop {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.4);
	padding: 1.5rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 5px solid rgba(0, 0, 0, 0.05);
	min-height: 20vh;
}

	.cp-filedrop p {
		text-align: center;
		font-size: 200%;
		padding: 0;
		line-height: 30vh;
	}



/*	<6> Grid
==========*/


/*  Generell container */

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 100%;
	max-width: 100%; 
}

	.container:before, .container:after {
		content: " ";
		display: table; 
	}

	.container:after {
		clear: both; 
	}


/* Subcontainer for hver rad av elementer */

.row {
	width: 100%;
	margin: 0;
	padding: 0; 
}

	.row:before, .row:after {
		content: " ";
		display: table; 
	}

	.row:after {
		clear: both; 
	}


/* Spalteelementer */

.grid {
	float: left;
	display: inline-block;
	min-height: 1px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 1.5%;
	margin-right: 1.5%; 
}

	/*  Modifikator for elementer uten gutters */
	.grid.no-gutters {
		margin-left: 0;
		margin-right: 0; 
	}


/*  Spaltebredder */

.grid.g1 { width: 5.33333%; }
.grid.g2 { width: 13.66667%; }
.grid.g3 { width: 22%; }
.grid.g4 { width: 30.33333%; }
.grid.g5 { width: 38.66667%; }
.grid.g6 { width: 47%; }
.grid.g7 { width: 55.33333%; }
.grid.g8 { width: 63.66667%; }
.grid.g9 { width: 72%; }
.grid.g10 { width: 80.33333%; }
.grid.g11 { width: 88.66667%; }
.grid.g12 { width: 97%; }

.grid.g1.no-gutters { width: 8.33333%; }
.grid.g2.no-gutters { width: 16.66667%; }
.grid.g3.no-gutters { width: 25%; }
.grid.g4.no-gutters { width: 33.33333%; }
.grid.g5.no-gutters { width: 41.66667%; }
.grid.g6.no-gutters { width: 50%; }
.grid.g7.no-gutters { width: 58.33333%; }
.grid.g8.no-gutters { width: 66.66667%; }
.grid.g9.no-gutters { width: 75%; }
.grid.g10.no-gutters { width: 83.33333%; }
.grid.g11.no-gutters { width: 91.66667%; }
.grid.g12.no-gutters { width: 100%; }



/*	<7> Responsivt design
=======================*/


/*	<7a> Små skjermer  
-------------------*/

@media only screen and (max-width: 768px) {

	/* Rotelementer */

	html {
		font-size: 16px;
	}

	html, body {
		overflow-x: hidden;
	}


	/* Generell omstrukturering */

	.cp-container {
		display: block;
	}

	.cp-sidebar, .cp-main {
		margin-left: 0;
		margin-right: 0;
		flex: none;
		display: block;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.cp-sidebar {
		margin-bottom: 3rem;
	}

	.grid {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
		float: none;
	}


	/* Navigasjon */

	.cp-sidebar nav {
		display: none;
	}

	nav ul li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		text-align: center;
	}

	nav ul li:last-child {
		border-bottom: none;
	}

	nav ul li a {
		font-size: 110%;
		padding: 0.75rem;
	}

	.cp-mobile-menu {
		display: block;
		padding: 0;
	}

	
	/* Skjemaer */

	input[type="submit"], input[type="button"], button, a.button {
		display: block;
		max-width: 100%;
	}

	input[type="submit"], input[type="button"], button {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}


	/* Editor */

	.post-editor-content {
		font-size: 0.85rem;
		min-height: 15rem;
	}

	.post-editor-meta {
		margin-top: 3rem;
	}

	.post-editor-current-tags {
		min-height: 6rem;
	}

	.cp-message {
		margin-bottom: 1.5rem;
	}

	#editor-distraction-free {
		display: none;
	}


	/* Visningssider og tabeller */

	.cp-table-select {
		display: none;
	}

	.cp-table-id {
		width: 10%;
	}

	.cp-table-edit, .cp-table-delete, .cp-table-view {
		width: 20%;
	}


	/* Innlogging */

	.cp-login {
		width: 90%;
		max-width: 90%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}


	/* Filedrop */

	.cp-filedrop {
		display: none;
	}

}



/*	<7b> Mellomstore skjermer 
---------------------*/

@media only screen and (min-width: 769px) and (max-width: 1439px) {

	html {
		font-size: 16px;
	}


	/* Endre visning av navigasjon */

	.cp-sidebar nav {
		display: block !important;
	}

	.cp-mobile-menu {
		display: none;
	}


	/* Stack editoren vertikalt */

	.post-editor-main, .post-editor-meta {
		width: 100% !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.post-editor-main {
		margin-bottom: 3rem;
	}

	.post-editor-section-tags {
		width: 66.6%;
		float: left;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 3%;
	}

	.post-editor-section-categories {
		width: 33.4%;
		float: left;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 3%;
	}

	.post-editor-section-categories + p:before {
		content: " ";
		display: table;
		clear: both;
	}

	.post-editor-section-categories + p input {
		margin-top: 1.5rem;
	}

}



/*	<7c> Store skjermer 
---------------------*/

@media only screen and (min-width: 1440px) {

	.cp-mobile-menu{
		display: none;
	}

}



/*	<7d> Digre skjermer 
---------------------*/

@media only screen and (min-width: 1920px) {
	
	html {
		font-size: 20px;
	}

}




/*	<8> Hjelpeklasser 
===================*/

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.float-left { float: left; }
.float-right { float: right; }

.hidden { display: none !important; }