@charset "UTF-8";

/*	Importsetninger
*/

@import url("normalize.css");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("../fonts/fira/fira.css");
@import url("grid.css");

/*	En ytterst simpel reset av elementer
*/

*, html, body, h1, h2, h3, h4, h5, h6, p, div, aside, article, section, header, footer, nav {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*	Oppsett av rotelementer
*/

html {
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	color: rgba(14, 15, 20, 0.8);
}

/*	Enkelt oppsett av typografi og mye brukte elementer
*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 500;
}

h1, h2, h3 {
	padding-bottom: 1.5rem;
}

h4, h5, h6 {
	padding-bottom: 1rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: 0.6rem; }

p {
	padding-bottom: 1.5rem;
}

a {
	text-decoration: none;
	color: #0053d9;
}

a.cp-delete-link {
	color: #cc0000;
}

a:hover {
	text-decoration: underline;
}

/* Skjemakomponenter trenger litt ekstra overbevisning */

input, button, textarea, select, option {
	font-family: "Fira Sans", sans-serif;
	font-size: 1rem;
	outline: 0;
}

input[type="text"], textarea {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="text"]:hover, textarea:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus, textarea:focus {
	border: 1px solid #0058e5;
	box-shadow: 0 0 5px #0058e5;
}


/*	Komponenter til kontrollpanelet
==================================*/


/* .cp-container fungerer som en container for hele grensesnittet */
.cp-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	min-height: 100%;
}

/* Sidebar til venstre */
.cp-sidebar {
	flex: 0 0 auto;
	background-color: rgba(14, 15, 20, 1);
	min-width: 180px;
	max-width: 280px;
	width: 20%;
	min-height: 100%;
	padding: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Hovedcontainer - alle grid-elementer skal inn her */
.cp-main {
	flex: 1 1 auto;
	width: 80%;
	padding: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Automagisk clearing */
.cp-main:before, .cp-main:after {
	display: table;
	content: " ";
	clear: both;
}

/* Tittelen på websiden */
.cp-site-title {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.cp-site-title span {
	color: rgba(14, 15, 20, 0.5);
	font-size: 70%;
	font-weight: 400;
}

.cp-logout {
	margin-top: 3rem;
}

/* A button is a button is a button is a button */
input[type="submit"],
input[type="button"],
button,
.button {
	border: 0;
	display: inline-block;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.33);
	background-color: #0053d9;
	color: #ffffff;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	text-decoration: none;
	background-color: #0058e5;
}

input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: #004ecc;
}

.button.smaller {
	font-size: 80%;
}

.button.bigger {
	font-size: 125%;
}

.button.c2a {
	display: block;
}

.button.green {
	background-color: #00992b;
}

.button.green:hover {
	background-color: #00a62f;
}

.button.green:active {
	background-color: #008c28;
}

.button.red {
	background-color: #d00000;
}

.button.red:hover {
	background-color: #de0000;
}

.button.red:active {
	background-color: #c40000;
}

/* Navigasjon i sidebaren
*/

nav ul {
	list-style-type: none;
	margin: 0;
}

nav ul li {
	margin: 0;
}

nav ul li a {
	display: block;
	padding: 0.5rem;
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: rgba(0, 200, 255, 0.16);
	text-decoration: none;
}

/*	Gi ikoner fra FontAwesome litt mer plass
*/

i.fa {
	padding-right: 0.5rem;
}

/*	Komponenter til editoren
*/

.post-editor-main {
	
}

.post-editor-title, .post-editor-content {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: rgba(14, 15, 20, 0.8);
}

.post-editor-title {
	font-size: 150%;
	margin-bottom: 1rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	min-height: 4rem;
}

.post-editor-content {
	font-family: "Fira Mono", monospace;
	min-height: 65vh;
	padding: 1rem;
	border-width: 2px;
}

.post-editor-content:hover, .post-editor-content:focus {
	border-width: 2px;
	box-shadow: none;
}

/*	Toolbar til editor
*/

.post-editor-toolbar {
	background-color: rgba(14, 15, 20, 0.25);
	padding: 2px;
}

.post-editor-toolbar a {
	line-height: 0;
	text-align: center;
	padding: 0.4rem 0.8rem;
	font-size: 110%;
	color: rgba(14, 15, 20, 0.8);
	text-decoration: none;
	display: inline-block;
}

.post-editor-toolbar a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #0058e5;
}

.post-editor-toolbar a span {
	display: none;
}

#post-editor i.fa {
	padding: 0;
}

.post-editor-current-tags {
	display: block;
	padding: 0.5rem;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5rem;
	min-height: 15vh;
}

.post-editor-tags {
	margin-bottom: 3rem;
}

.post-editor-new-tag {
	padding: 0 0 0 0.5rem;
	box-sizing: border-box;
}

.post-editor-tag-add {
	font-size: 150%;
	line-height: 0;
	text-align: center;
	
}

.post-editor-new-tag, .post-editor-tag-add {
	min-height: 3rem;
}

.tag {
	background-color: #0058e5;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	padding: 3px 4px;
	line-height: 1;
	font-size: 90%;
}

.tag:hover {
	background-color: #d00000;
	cursor: pointer;
}

.post-editor-categories {
	list-style-type: none;
	margin-bottom: 3rem;
}

.post-editor-categories li {
	padding: 0.33rem 0;
}

.post-editor-categories label {
	padding-left: 0.5rem;
}

.post-editor-categories label:hover {
	color: #0058e5;
}

.post-editor-helper-label {
	color: rgba(14, 15, 20, 0.4);
	font-size: 90%;
	padding-bottom: 0.25rem;
}

#page_data {
	margin-bottom: 1.5rem;
}


/*	Meldingsbokser
*/

.cp-message {
	display: block;
	padding: 1rem;
	color: #ffffff;
}

.cp-message.success {
	background-color: #00992b;
}

.cp-message.error {
	background-color: #d00000;
}

.cp-message.information {
	background-color: #0053d9;
}


/*	Tabeller på oversiktsider
*/

.cp-database-table {
	margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

tbody {

}

th {
	font-weight: bold;
}

tr:hover {
	background-color: #fffcb4;
}

tr:first-child:hover {
	background-color: #fff;
}

td {
	border: 1px solid #ccc;
	padding: 0.5rem;
}

.noborder {
	border: 0;
}

.cp-table-select, .cp-table-id {
	width: 5%;
}

.cp-table-edit, .cp-table-delete, .cp-table-view {
	width: 10%;
}

.cp-table-title {
	width: 60%;
	text-align: left;
}

/*	Forsiden  
*/

.cp-latest-posts li, .cp-latest-comments li {
	list-style: none;
	background-color: rgba(0,0,0,0.06);
	margin-bottom: 1.5rem;
	padding: 1rem;
}


/*		Mobilvisning
==================*/

@media only screen and (max-width: 768px) {

	html {
		font-size: 16px;
	}

	html, body {
		overflow-x: hidden;
	}

	.cp-container {
		display: block;
	}

	.cp-sidebar, .cp-main {
		margin-left: 0;
		margin-right: 0;
		flex: none;
		display: block;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		box-sizing: border-box;
	}

	.cp-sidebar {
		margin-bottom: 3rem;
	}

	.cp-sidebar nav {
		display: none;
	}

	nav ul li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		text-align: center;
	}

	nav ul li:last-child {
		border-bottom: none;
	}

	nav ul li a {
		font-size: 110%;
		padding: 0.75rem;
	}

	.cp-mobile-menu-toggle {
		display: block;
		padding: 0;
	}

	.grid {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		float: none !important;
	}

	input[type="submit"], input[type="button"], button, a.button {
		display: block;
		max-width: 100%;
	}

	.post-editor-meta {
		margin-top: 3rem;
	}

	.cp-message {
		margin-bottom: 1.5rem;
	}

}

@media only screen and (min-width: 769px) {

	.cp-sidebar nav {
		display: block !important;
	}

	.cp-mobile-menu-toggle {
		display: none;
	}

}