@charset "UTF-8";

/*	Importsetninger
*/

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("../fonts/fira/fira.css");
@import url("grid.css");

/*	En ytterst simpel reset av elementer
*/

*, html, body, h1, h2, h3, h4, h5, h6, p, div, aside, article, section, header, footer, nav {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*	Oppsett av rotelementer
*/

html {
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	color: rgba(14, 15, 20, 0.8);
}

/*	Enkelt oppsett av typografi og mye brukte elementer
*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 500;
}

h1, h2, h3 {
	padding-bottom: 1.5rem;
}

h4, h5, h6 {
	padding-bottom: 1rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: 0.6rem; }

p {
	padding-bottom: 1.5rem;
}

/* Skjemakomponenter trenger litt ekstra overbevisning */

input, button, textarea, select, option {
	font-family: "Fira Sans", sans-serif;
	font-size: 1rem;
	outline: 0;
}



/*	Komponenter til kontrollpanelet
==================================*/


/* .cp-container fungerer som en container for hele grensesnittet */
.cp-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

/* Sidebar til venstre */
.cp-sidebar {
	flex: 0 0 auto;
	background-color: rgba(14, 15, 20, 1);
	min-width: 180px;
	max-width: 280px;
	width: 20%;
	padding: 1rem;
	box-sizing: border-box;
}

/* Hovedcontainer - alle grid-elementer skal inn her */
.cp-main {
	flex: 1 1 auto;
	width: 80%;
	padding: 1rem;
	box-sizing: border-box;
}

/* Automagisk clearing */
.cp-main:before, .cp-main:after {
	display: table;
	content: " ";
	clear: both;
}

/* Tittelen på websiden */
.cp-site-title {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.cp-logout {
	margin-top: 3rem;
}

/* A button is a button is a button is a button */
input[type="submit"],
input[type="button"],
button,
.button {
	border: 0;
	display: inline-block;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.33);
	background-color: #0053d9;
	color: #ffffff;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	background-color: #0058e5;
}

input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: #004ecc;
}

.button.smaller {
	font-size: 80%;
}

.button.bigger {
	font-size: 125%;
}

.button.c2a {
	display: block;
}

.button.green {
	background-color: #00992b;
}

.button.green:hover {
	background-color: #00a62f;
}

.button.green:active {
	background-color: #008c28;
}

.button.red {
	background-color: #d00000;
}

.button.red:hover {
	background-color: #de0000;
}

.button.red:active {
	background-color: #c40000;
}

/* Navigasjon i sidebaren
*/

nav ul {
	list-style-type: none;
	margin: 0;
}

nav ul li {
	margin: 0;
}

nav ul li a {
	display: block;
	padding: 0.5rem;
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: rgba(0, 200, 255, 0.16);
}

/*	Gi ikoner fra FontAwesome litt mer plass
*/

i.fa {
	padding-right: 0.5rem;
}