/*  Bruk .container for å "pakke inn" grid-elementer
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
  max-width: 90%; 
}


/*  Fikser automagisk clearing av elementer
*/

.container:before, .container:after {
content: " ";
display: table; 
}

.container:after {
clear: both; 
}


/*  Dersom det oppstår problemer med layout, kan en mulig løsning være å pakke
**  inn hver "rad" med elementer i .row
*/

.row {
width: 100%;
margin: 0;
padding: 0; 
}

.row:before, .row:after {
content: " ";
display: table; 
}

.row:after {
clear: both; 
}


/*  .grid: Felles properties for alle spalte-elementer
*/

.grid {
float: left;
display: inline-block;
min-height: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-left: 1.5%;
margin-right: 1.5%; 
}


/*  Legg på klasse .no-gutters for å få et element uten marginer på hver side
*/

.grid.no-gutters {
margin-left: 0;
margin-right: 0; 
}


/*  Spaltebredder
*/

.grid.g1 { width: 5.33333%; }
.grid.g2 { width: 13.66667%; }
.grid.g3 { width: 22%; }
.grid.g4 { width: 30.33333%; }
.grid.g5 { width: 38.66667%; }
.grid.g6 { width: 47%; }
.grid.g7 { width: 55.33333%; }
.grid.g8 { width: 63.66667%; }
.grid.g9 { width: 72%; }
.grid.g10 { width: 80.33333%; }
.grid.g11 { width: 88.66667%; }
.grid.g12 { width: 97%; }

.grid.g1.no-gutters { width: 8.33333%; }
.grid.g2.no-gutters { width: 16.66667%; }
.grid.g3.no-gutters { width: 25%; }
.grid.g4.no-gutters { width: 33.33333%; }
.grid.g5.no-gutters { width: 41.66667%; }
.grid.g6.no-gutters { width: 50%; }
.grid.g7.no-gutters { width: 58.33333%; }
.grid.g8.no-gutters { width: 66.66667%; }
.grid.g9.no-gutters { width: 75%; }
.grid.g10.no-gutters { width: 83.33333%; }
.grid.g11.no-gutters { width: 91.66667%; }
.grid.g12.no-gutters { width: 100%; }
