/*Ingen ID-tagger**: ID-tagger skal ikke brukes i CSS-selektorer. Dette er reservert til Javascript.
 *Ingen overkvalifisert kode**: Ikke skriv `div.sidebar` - skriv `.sidebar`
 *Ingen underscores**: Ikke skriv `.sidebar_left` - skriv `.sidebar-left`
 *Maksimal gjenbruk av kode**: Kode skal skrives slik at koden kan brukes igjen og igjen i andre elementer hvis nødvendig.
 *Færrest mulig vendor prefixes**: Minst mulig bruk av kode som er laget for spesielle nettlesere og motorer.
 */

/* STYLESHEET FOR DEMOSITE - WEB PROJECT AT HIOA 2013
 * PARTICIPANTS: VEGAR NORMAN, PER ERIK FINSTAD, HALVOR ØDEGÅRD, MARIUS BALTRAMAITIS;
 * ALL CONTENT OWNED BY GROUP 25
 */ 

 @import url("../css/grid.css");

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	display: block;
	padding:15px 0; 
}
p{
	padding-top: 15px; 
	color: #333;
}
html{
	font-family: Helvetica neue, arial, sans serif;
	font-size: 18px;
	line-height: 1.23456;
}
body{
	margin: 0;
	padding: 0;
	background-color: #EEE;
}
.top-banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	height:200px;
	background-color: #777;
}
.banner-content{
	width: 900px;
	height:auto;
	margin: 0 auto;
}
header{
	height: 30px;
	background-color: #456;
	border-bottom: 12px solid #345;
	box-shadow: 0px 2px 12px #888;
}

/*MENU*/

nav{
	width: 900px;
	margin: 0 auto;
	background-color: #ccc;
	text-align: center;
	line-height:1.8;
	vertical-align: bottom;
}
nav li{
	display: inline;
	float: left;
	width: 19.9%;
	height: 30px;
	background-color: #456;
	border-right: 1px solid #345;
}
nav li:hover{
	background-color: #567;
	border-radius: 0 0 0 0;
}
nav a{
	display: block;
	text-decoration: none;
	color: #EEE;
}
.main-container{
	width: 900px;
	height: auto;
	min-height: 1000px;
	margin: 0 auto;
	padding: 15px;
	/*background-color: #DDD;*/
	clear: both;
}
footer{
	height: auto;
	min-height: 150px;
	background-color: #111;
	color:#465;
}

/*MISC*/
.stop{
	clear:both;
}
.highlight{
	background-color: #345;
	border-radius: 0 0 0 0;
}
