/*Ingen ID-tagger**: ID-tagger skal ikke brukes i CSS-selektorer. Dette er reservert til Javascript.
 *Ingen overkvalifisert kode**: Ikke skriv `div.sidebar` - skriv `.sidebar`
 *Ingen underscores**: Ikke skriv `.sidebar_left` - skriv `.sidebar-left`
 *Maksimal gjenbruk av kode**: Kode skal skrives slik at koden kan brukes igjen og igjen i andre elementer hvis nødvendig.
 *Færrest mulig vendor prefixes**: Minst mulig bruk av kode som er laget for spesielle nettlesere og motorer.
 */

/* STYLESHEET FOR DEMOSITE - WEB PROJECT AT HIOA 2013
 * PARTICIPANTS: VEGAR NORMAN, PER ERIK FINSTAD, HALVOR ØDEGÅRD, MARIUS BALTRAMAITIS;
 * ALL CONTENT OWNED BY GROUP 25
 */ 

 @import url("../css/grid.css");

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	display: block;
	padding:10px 0; 
}
p{
	padding-top: 15px; 
	color: #333;
}
html{
	font-family: Garamond, Helvetica neue, arial, sans serif;
	font-size: 17px;
	line-height: 1.23456;
}
body{
	margin: 0;
	padding: 0;
	background-color: #EEE;
}
.top-banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	height:200px;
	background-color: #777;
}
.banner-content{
	width: 840px;
	height:auto;
	margin: 0 auto;
}
header{
	height: 30px;
	background-color: #456;
	border-bottom: 12px solid #345;
	box-shadow: 0px 2px 12px #888;
}

/*MENU*/

nav{
	width: 840px;
	margin: 0 auto;
	background-color: #ccc;
	text-align: center;
	line-height:1.8;
	vertical-align: bottom;
}
nav li{
	display: inline;
	float: left;
	width: 20%;
	height: 30px;
	background-color: #456;
	/*border-right: 1px solid #345;*/
}
nav li:hover{
	background-color: #567;
	border-radius: 0 0 0 0;
}
nav a{
	display: block;
	text-decoration: none;
	color: #EEE;
}
.main-container{
	width: 840px;
	height: auto;
	min-height: 800px;
	margin: 0 auto;
	padding: 15px;
	/*background-color: #DDD;*/
	clear: both;
}
footer{
	height: auto;
	min-height: 150px;
	background-color: #345;
	color:#678;
	text-align: center;	
}
.footer-content{
	font-size: 12px;
	width: 840px;
	margin:0 auto;
}
.footer-content a,p{
	text-decoration: none;
	/*color: #678;*/
	/*text-align: center;*/
}
.blogg-sidebar{
	margin-left: 10px;
	font-size: 13px;
	padding:10px;
	border-radius: 5px;
	color:#456;
}
.menu-button{
	display: block;
	padding: 4px;
	width: 100%;
	margin-top: 50px;
	color: #456;
	/*background-color: #999;*/
	text-transform: uppercase;
	border-bottom: 1px solid #456;
}
.menu-button h3{
	display: inline;
}
.menu-button img{
	float: right;
}

.menu-item{
	display:none;
	width: 280px;
}

/*
 *    BLOGS
 */

article{
	margin-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 30px;
	border-bottom: 2px solid #456;
}
.article-footer{
	margin-bottom: 10px;
	font-style: italic;
	font-size: 10px;
}
.article-footer span a{
	font-weight: 900;
	text-decoration: none;
	float: right;
	color: #456;
	border: 0;
}

/*
 * COMMENT FORM
 */

button{
	outline: none;
	margin: 10px 0;
}
button:hover{
	cursor: pointer;
}

 #new-comment-button{
/* 	width: 200px;
 	height: 35px;*/
 	background-color: #07BD00;
 	color: #fff;
 	padding:5px;
	border-radius: 3px;
	border: 0;
	text-transform: uppercase;
  	box-shadow: 2px 2px 5px #444;
 }
  #report-comment-button{
/* 	width: 200px;
 	height: 35px;*/
 	background-color: #C90000;
 	color: #fff;
 	padding:5px;
	border-radius: 3px;
	border: 0;
	text-transform: uppercase;
  	box-shadow: 2px 2px 5px #444;
 }

 #comment-box{
 	display: none;
 }
.comment-form {
  	background-color: #456;
  	border: 0px solid #111111;
  	height: auto;
  	min-height: 302px;
  	/*padding: 30px;*/
  	margin: 0 auto;
	box-shadow: 4px 4px 15px #555555;
  	border-radius: 3px; 
 }
  	.comment-form input[type="text"] {
    	height: 35px;
    	width: 300px;
    	background-color: #fff;
    	margin-top: 20px;
    	margin-left: 20px;
    	padding-left: 5px;
    	font-size: 15px;
    	color: #556677;
    	border: 0px solid #111111;
    	border-radius: 2px;
    		    	box-shadow: -1px -1px 26px 4px #ddd inset;

	}
    	.comment-form input[type="text"]:focus {
    		outline: 1px solid #FFF;
     		outline-radius: 2px;
     		-o-outline-radius: 2px;
     		-ms-outline-radius: 2px;
     		-moz-outline-radius: 2px;
     		-webkit-outline-radius: 2px;
      	}
      	.comment-form textarea {
      		width: 490px;
      		font-size: 15px;
      		margin: 20px;
	    	padding: 5px 0 0 5px;
	    	border: 0;
	    	box-shadow: -1px -1px 26px 4px #ddd inset;
	    	border-radius: 2px;
      	}

.submit-comment-button {
	width: auto;
  	height: 35px;
  	color: #EEE;
  	background-color: #4D7FAD;
  	border: 0px;
  	margin-left: 360px;
  	padding:5px;
  	box-shadow: 2px 2px 5px #444;
  	font-size: 12px;
  	border-radius: 3px;
  	text-transform: uppercase;
}
  	.submit-comment-button:hover {
    	background-color: #6C7E99; 
    	cursor: pointer;
  	}
  	.submit-comment-button:focus {
    	outline: none;
    	-outline-radius: 2px;
    	-moz-outline-radius: 2px;
    	-webkit-outline-radius: 2px;
    	background-color: #C2C0BE; 
  	}

/*MISC*/
.stop{
	clear:both;
}
.highlight{
	background-color: #345;
	border-radius: 0 0 0 0;
}
