html {
	font: #{$base-font-size}/#{$base-line-height} $sans-serif;
	color: $copy-color;
}

body {
	background: $site-background;
	overflow-x: hidden;
}


//		Headers

.xxxl, .xxl, .xl, .l, .m, .s, .xs, .xxs, .xxxs, h1, h2, h3, h4, h5, h6 {

}

.xxxl {
	
}

.xxl{
	
}

.xl {
	
}

h1, .l {
	
}

h2, .m {
	
}

h3, .s {
	
}

h4, .xs {
	
}

h5, .xxs {
	
}

h6, .xxxs {
	
}


//		Paragraphs

p {

}


//		Lists

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ul, ol {

	li {

		ul {
			list-style-type: circle;
		}

		ol {
			list-style-type: lower-roman;
		}

	}

}



dl {

	dt {

	}

	dd {

	}

}


//		Figures and images

figure {

	img {
		max-width: 100%;
	}

	figcaption {

	}

}


img {

}


a img {
	
}


//		Abbreviations

abbr {

	&:hover {
		cursor: help;
	}
}


//		Code

pre {
	
}


code {
	
}


//		Small, superscript, subscript

small {

}


sup {

}


sub {

}


//		Links

a {

	&:hover {

	}
}


//		Quotes

blockquote {

	p {

	}

	&:before {

	}

	&:after {

	}

}


//		Page navigation

nav {

	ul {

		li {

			a {

				&:hover {

				}

				&#current {

				}

			}

		}

	}

}


//		Forms


//		Labels 

label {

}


//		Inputs 

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {

	&:hover {

	}

	&:focus {

	}

}

//		Buttons 

input[type="submit"],
input[type="button"],
button,
.btn {

	&:hover {

	}

	&:active {

	}

}


//		Dropdowns 

select {

	option {

	}

}


//		Placeholder text 

:-moz-placeholder 				{ }
::-moz-placeholder 				{ }
::-webkit-input-placeholder 	{ }
:-ms-input-placeholder 			{ }


//		Selected text

::selection {}
::-moz-selection {}