// Some really basic rules for how things should look.
// You should probably change these up a bit to fit your project!

$site-background: #fff;
$copy-color: rgba(0, 0, 0, 0.8);
$sans-serif: sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$line-height: 1.5rem;

// Media breakpoints

$tiny: "only screen and (max-width: 480px)";
$small: "only screen and (min-width: 481px)";
$small-only: "only screen and (max-width: 767px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 1280px)";
$huge: "only screen and (min-width: 1680px)";
$massive: "only screen and (min-width: 1920px)";