/* STYLESHEET FOR DEMOSITE - WEB PROJECT AT HIOA 2013
 * PARTICIPANTS: VEGAR NORMAN, PER ERIK FINSTAD, HALVOR ØDEGÅRD, MARIUS BALTRAMAITIS;
 * ALL CONTENT OWNED BY GROUP 25
 */ 
@import url("grid.css");

/*RESPONSIVENESS*/

@import url("responsiveness.css");

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	padding:10px 0; 
	color: #456;
}
p{
	margin-top: 14px;
}
html{
	font-family:  Helvetica neue, arial, sans serif;
	font-size: 17px;
	line-height: 1.23456;
}
body{
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

/*
 *  PAGE CONTENT
 */



.top-banner{
	background-image: url("images/banner.png");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height:200px;
	background-color: #DDD;
}
.banner-content{
	width: 840px;
	height:auto;
	margin: 0 auto;
}
.banner-content h1{
	font-family: Gothic;
	color: #333;
	font-size: 64px;
	padding: 20px;
}

header{
	width: 100%;
	height: 35px;
	background-color: #456;
}

.main-container{
	width: 840px;
	height: auto;
	min-height: 800px;
	margin: 0 auto;
	padding: 15px;
	clear: both;
}
.main-container p{
	padding-top: 15px; 
	color: #456;
}
/*
 *       FOOTER
*/
footer{
	height: auto;
	min-height: 25px;
	background-color: #345;
	text-align: center;	
}
.footer-content{
	font-size: 12px;
	width: 840px;
	margin:0 auto;
	padding: 10px;
	color:#678;
}
.footer-content a{
	text-decoration: none;
	color: #678;
}

/*
 *          MENU / NAVIGATION
 */

nav{
	width: 840px;
	margin: 0 auto;
	background-color: #777;
	text-align: center;
	line-height:1.6;
	vertical-align: bottom;
}
nav ul{
	margin: 0 auto;
}
nav li{
	width: 33.2%;
	display: inline;
	float: left;
	height: 35px;
	background-color: #456;
	margin: 0;
	padding: 0;
	letter-spacing: 1.5px;
	-o-transition: background-color .15s ease-in-out;
	-ms-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out;
	border-right: 1px solid #EEE;
}
nav li:last-child{
	border-right:0;
}
nav li:hover{
	background-color: #567;
}
nav a{
	line-height: 2;
	font-size: 18px;
	font-weight: 300;
	display: block;
	text-decoration: none;
	color: #EEE;
}

nav ul li img {
margin-right:5px;
}




/*
 *      BLOG and BLOGPOSTS
 */

.blogg-sidebar{
	margin-left: 10px;
	font-size: 13px;
	padding:40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	color: #456;
}
.menu-button{
	display: block;
	padding: 4px;
	width: 100%;
	margin-top: 50px;
	color: #456;
	text-transform: uppercase;
	border-bottom: 1px solid #456;
}
.menu-button h3{
	display: inline;
}
.menu-button img{
	float: right;
}

.menu-item{
	width: 280px;
}
.menu-item ul li{
	padding:2px 4px;
}
/*
 *  	ARTICLES
 */

article{
	margin-top: 30px;
	margin-bottom: 3px;
	padding-bottom: 30px;
	border-bottom: 2px solid #456;
	letter-spacing: 0.5px;
	word-spacing: 1.2px;
}
.article-footer:before,.article-footer:after{
	content: "";
	display: table;
}
.article-footer:after{
	clear: both;
}
.article-footer{
	margin-bottom: 50px;
	font-style: italic;
	font-size: 14px;
}
.article-footer span p{
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
	color: #456;
}
.article-footer span a{
	font-weight: 900;
	text-decoration: none;
	float: right;
	color: #456;
}
.article-footer span a:hover{
	color: #607085;
}
.article-footer img{
	margin-left: 5px;
}


/*
 *    BUTTONS
 */
.next-button{
	float: right;
	width: 90px;
	margin-top: 50px;
	line-height: 21px;
}

.next-button img{
	float: right;
}
.last-button{
	float: left;
	width: 90px;
	margin-top: 50px;
	line-height: 21px;
	padding-right: 8px;

}
.last-button img{
	float: left;
}

/*
 *COMMENTS FROM USERS
 */

sub{
	display: block;
	margin-top: 25px;
	padding: 10px 0;
	font-family: Tahoma;
	border-bottom: 1px solid black;
}

/*
 * COMMENT FORM
 */

button{
	background-color: #456;
	font-size: 12px;
	width: auto;
 	color: #fff;
	outline: none;
	margin: 10px 0;
  	box-shadow: 0px 1px 4px #777;
	text-transform: uppercase;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;

}
button:hover{
	cursor: pointer;
 	background-color: #506075;
}
#new-comment-button{
 	padding:5px;
 }
 #report-comment-button{
  	padding:5px;
 	margin-left: 20px;
 }

 #comment-box{
 	height: auto;
 	width: 535px;
 	margin: 10px 0 50px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
 	border: 1px solid #AAA;

 }
 .comment-area{
 	height: auto;
 	margin-top: 40px;
 }
.comment-form {
  	margin: 0 auto;
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
 }
  	.comment-form input[type="text"] {
    	height: 35px;
    	width: 300px;
    	background-color: #fff;
    	margin-top: 20px;
    	margin-left: 20px;
    	padding-left: 5px;
    	font-size: 15px;
    	color: #556677;
    	border: 0px solid #111111;
    	-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
    	-webikit-box-shadow: -1px -1px 26px 4px #DDD inset;
	}
    	.comment-form input[type="text"]:focus {
	    	outline-width: 0px;
	    	border: 1px solid #AAA;
      	}
      	.comment-form textarea {
      		width: 490px;
      		font-size: 15px;
      		margin: 20px;
	    	padding: 5px 0 0 5px;
	    	border: 0;
	    	outline-width: 0px;
	    	-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
      	}
      	.comment-form textarea:focus{
      		border: 1px solid #AAA;
      	}

.submit-comment-button {
	width: auto;
	color: #EEE;
  	background-color: #456;
  	border: 0px;
  	margin:0 20px 0 0;
	float: right;
  	padding:5px;
  	box-shadow: 0px 1px 4px #777;
  	font-size: 12px;
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
  	text-transform: uppercase;
}
  	.submit-comment-button:hover {
    	background-color: #586577; 
    	cursor: pointer;
  	}
  	.submit-comment-button:focus {
    	outline: none;
    	-outline-radius: 2px;
    	-moz-outline-radius: 2px;
    	-webkit-outline-radius: 2px;
    	background-color: #C2C0BE; 
  	}

/*
 *      MISC
 */

.stop:after{
	clear:both;
}
.highlight{
	background-color: #EEE;
}
.highlight a{
	color:#456;
	font-weight: 600;
}
.change-to-green{
	background-color: #118444;
}
.change-to-green:hover{
	background-color: #118444;
}
.change-to-red{
	background-color: #993322;
}
.change-to-red:hover{
	background-color: #993322;
}


