/* STYLESHEET FOR DEMOSITE - WEB PROJECT AT HIOA 2013
 * PARTICIPANTS: VEGAR NORMAN, PER ERIK FINSTAD, HALVOR ØDEGÅRD, MARIUS BALTRAMAITIS;
 * ALL CONTENT OWNED BY GROUP 25
 */ 

 /*
  *  GRID
  */
@import url("grid.css");
/*
 * FONT
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

/*
 *  RESPONSIVENESS
 */
@import url("responsiveness.css");


*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	padding:10px 0 20px 0 ;
	margin: 0; 
}
p{
	margin-top: 14px;
}
html{
	height: 100%;
}
body{
	font-size: 16px;
	line-height: 1.546;
	word-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color:#444040;
	background-color: #EEE;
}

section{
	margin-bottom: 50px;
}
/*
 *  PAGE CONTENT
 */

header{
	background-image: url("images/city3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 340px;
	background-color: #252525;
	position: relative;
}
header h1{
	display: inline-block;
	color: #DDD;
	padding: 0 ;
	font-size: 360%;
	font-weight: 400;
	margin: 2% 0 0 21%;
	letter-spacing: 19px;
	text-shadow:1px 3px 3px #111111;

}
header h4{
	max-width: 278px;
	color: #BBB;
	margin:0 0 0 21%;
	font-weight: 400;
	letter-spacing: 1.6px;
	text-shadow:1px 3px 3px #111111;
	border-top: 6px solid #CCC;
}

.main-container{
	width: 810px;
	height: auto;
	min-height: 600px;
	margin: 0 auto;
	padding: 15px;
	clear: both;
	box-shadow: 0px 0px 55px #EAEAEA;
}
.main-container p{
	padding-top: 15px; 
	color: #444040;
}
/*
 *       FOOTER
 */
footer{
	height: auto;
	min-height: 25px;
	background-color: #252525;
	text-align: center;	
}
footer .container{
	font-size: 12px;
	width: 840px;
	margin:0 auto;
	padding: 10px;
	color:#678;
}
footer ul li a{
	color:#678;
	text-decoration: none;
}
footer ul li{
	margin-bottom: 10px;
}
footer .grid.g4.no-gutters{
	 	width: 100%; 
	 }

/*
 *          MENU / NAVIGATION
 */

nav{
	width: 100%;
	height: auto;
	min-height: 45px;
	margin: 0 auto;
	background-color:rgba(1,1,1,0.7);
	text-align: center;
	line-height:1.6;
	vertical-align: bottom;
	text-transform: uppercase;
	bottom: 0;
	position: absolute;
	border-top: 1px solid #444040;
}
nav ul{
	width: 840px;
	margin: 0 auto;

}
nav li{
	width: 33.2%;
	display: inline;
	float: left;
	height: 45px;
	margin:  0;
	padding: 0;
	-o-transition: background-color .15s ease-in-out;
	-ms-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out;
	border-right: 1px solid #444040;
}
nav a{
	line-height: 2;
	font-size: 22px;
	font-weight: 300;
	display: block;
	text-decoration: none;
	color: #EEE;
}
nav li:last-child{
	border-right:0;
}
nav li:hover{
	background-color: rgba(255,255,255,0.1);
}
nav li:first-child{
	background-image: url("images/home2.png");
	background-size: 19px;
	background-repeat: no-repeat;
	background-position:72px;
}
nav li:nth-child(2){
	background-image: url("images/blogg2.png");
	background-size: 19px;
	background-repeat: no-repeat;
	background-position:79px;
}
nav li:nth-child(3){
	background-image: url("images/artikler.png");
	background-size: 19px;
	background-repeat: no-repeat;
	background-position:69px;
}


/*
 *      BLOG and BLOGPOSTS
 */

.history{
	width: 150px;
	margin:48px 0 0 10px;
	font-size: 13px;
	padding:20px 20px 20px 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	color: #456;
	background-color: #E7E7E7;
	box-shadow: 1px 2px 3px #BBB;
}

/*
 *  	ARTICLES
 */

article{
	margin-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid #444040;
}
.article-footer:before,.article-footer:after{
	content: "";
	display: table;
}
.article-footer:after{
	clear: both;
}
.article-footer{
	margin-bottom: 50px;
	font-style: italic;
	font-size: 13px;
	color: #444040;
}
.article-footer span p{
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
}
.article-footer span a{
	font-weight: 600;
	text-decoration: none;
	float: right;
	color: #444040;
}
.article-footer span a:hover{
	color: #797676;
}
.article-footer img{
	margin-left: 5px;
}


/*
 *    BUTTONS
 */
 .nav-button{
	background-size: 18px;
	background-repeat: no-repeat;
	width: auto;
	min-width: 105px;
	color: #444040;
  	background-color: #EEE;
  	border: 1px solid #444040;
  	font-size: 12px;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
  	text-transform: uppercase;
 }
 .nav-button:hover{
 	cursor: pointer;
 	background-color: #DBDBDB;
 	color:#444040;
 }
.next{
	background-image:url("images/rightarrow.png");
	background-position: right;
	margin:50px 0 0 0;
	float: right;
	padding: 2px 10px 2px 0;
}

.last{
	background-image:url("images/leftarrow.png");
	background-position: left;
	margin:50px 0 0 0;
  	float: left;
	padding: 2px 0 2px 10px;
}

button{
	background-color:#EEE ;
	font-size: 12px;
	width: auto;
 	color: #444040;
	outline: none;
	margin: 10px 0;
	text-transform: uppercase;
	border: 1px solid #444040;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
button:hover{
	cursor: pointer;
 	background-color: #DBDBDB;
 	color:#444040;
}
button a{
	text-decoration: none;
	color:#444040;
}

/*
 *COMMENTS FROM USERS
 */

sub{
	display: block;
	margin-top: 25px;
	padding: 10px 0;
	font-family: Tahoma;
	border-bottom: 1px solid black;
}
/*
 * COMMENT FORM
 */
#new-comment-button{
 	padding:5px;
 }
 #comment-box{
 	height: auto;
 	width: 535px;
 	margin: 10px 0 50px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
 	border: 1px solid #444040;
 }
 .comment-area{
 	height: auto;
 	margin-top: 40px;
 }
.comment-form {
  	margin: 0 auto;
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
 }
  	.comment-form input[type="text"] {
    	height: 35px;
    	width: 300px;
    	background-color: #fff;
    	margin-top: 20px;
    	margin-left: 20px;
    	padding-left: 5px;
    	font-size: 15px;
    	color: #444040;
    	border: 0px solid #444040;
    	-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	}
    	.comment-form input[type="text"]:focus {
	    	outline-width: 0px;
	    	border: 1px solid #AAA;
      	}
      	.comment-form textarea {
      		width: 490px;
      		font-size: 15px;
      		margin: 20px;
	    	padding: 5px 0 0 5px;
	    	border: 0;
	    	color: #444040;
	    	outline-width: 0px;
	    	-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
      	}
      	.comment-form textarea:focus{
      		border: 1px solid #AAA;
      	}

.submit-comment-button {
	width: auto;
	color: #444040;
  	background-color: #EEE;
  	border: 1px solid #444040;
  	margin:0 20px 0 0;
	float: right;
  	padding:5px;
  	font-size: 12px;
  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
  	text-transform: uppercase;
}
  	.submit-comment-button:hover {
    	background-color: #DBDBDB; 
    	cursor: pointer;
  	}
  	.submit-comment-button:focus {
    	outline: none;
    	-ms-outline-radius: 2px;
    	-moz-outline-radius: 2px;
    	background-color: #C2C0BE; 
  	}

/*
 *      MISC
 */

.stop:after{
	clear:both;
}
.highlight{
	background-color: #EEE;
	-webkit-border-radius:2px 2px 0 0;
}
.highlight:hover{
	background-color: #EEE;
}
.highlight a{
	color:#444040;
	font-weight: 600;
}

.change-to-green{
	background-color: #B8D8C6;
}
.change-to-green:hover{
	background-color: #DBDBDB;
}
.align-center{
	margin: 0 auto;
	text-align: center;
}
.color-red{
	color:#934;
}

/*
 *			PØNT te' JAVASCRIPT'n
 */
#error{
	display: inline-block;
	color: #FF3F3F;
	padding: 10px;
	margin-left: 20px;
	font-size: 18px;
}
#free{
	margin-left: 10px;
	color: #EEE;
	-o-transition: color .7s ease-in-out;
	-ms-transition: color .7s ease-in-out;
	-moz-transition: color .7s ease-in-out;
	-webkit-transition: color .7s ease-in-out;
}
#free2{
	margin-left: 10px;
	color: #EEE;
	-o-transition: color .7s ease-in-out;
	-ms-transition: color .7s ease-in-out;
	-moz-transition: color .7s ease-in-out;
	-webkit-transition: color .7s ease-in-out;
}


