/* STYLESHEET FOR DEMOSITE - WEB PROJECT AT HIOA 2013
 * PARTICIPANTS: VEGAR NORMAN, PER ERIK FINSTAD, HALVOR ØDEGÅRD, MARIUS BALTRAMAITIS;
 * ALL CONTENT OWNED BY GROUP 25
 */ 

 /*
  *  GRID
  */
@import url("grid.css");


/*
 * FONT
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

/*
 *  RESPONSIVENESS
 */
@import url("responsiveness.css");


*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin: 0; 
	color: #444040;
}
p{
	margin-top: 14px;
}
html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.546;
	word-spacing: 1px;
}
body{
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

/*
 *  PAGE CONTENT
 */



.top-banner{
	background-image: url("images/city3.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height:320px;
	background-color: #666;
}
.banner-content{
	width: auto;
	max-width: 840px;
	height:auto;
	margin: 0 auto;
}
.banner-content h1{
	display: inline-block;
	color: #DDD;
	font-size: 420%;
	font-weight: 400;
	padding: 30px 0 0 0;
	letter-spacing: 19px;
	text-shadow:1px 3px 3px #111111;

}
.banner-content h4{
	width: 308px;
	color: #BBB;
	padding:6px 0;
	font-weight: 400;
	letter-spacing: 3.3px;
	border-top: 6px solid #CCC;
	text-shadow:1px 3px 3px #111111;
}

header{
	width: 100%;
	height: 35px;
	background-color: #252525;
}

.main-container{
	width: 840px;
	height: auto;
	min-height: 800px;
	margin: 0 auto;
	padding: 15px;
	clear: both;
	box-shadow: 0px 0px  55px rgba(200,200,200, 0.2);
}
.main-container p{
	padding-top: 15px; 
	color: #444040;
}
/*
 *       FOOTER
*/
footer{
	height: auto;
	min-height: 25px;
	background-color: #252525;
	text-align: center;	
}
.footer-content{
	font-size: 12px;
	width: 840px;
	margin:0 auto;
	padding: 10px;
	color:#678;
}
.footer-content a{
	text-decoration: none;
	color: #678;
}
footer .grid.g4.no-gutters{
	 	width: 100%; 
	 }

/*
 *          MENU / NAVIGATION
 */

nav{
	width: 840px;
	margin: 0 auto;
	/*background-color: #777;*/
	text-align: center;
	line-height:1.6;
	vertical-align: bottom;
	text-transform: uppercase;
}
nav ul{
	margin: 0 auto;
}
nav li{
	width: 33.2%;
	display: inline;
	float: left;
	height: 35px;
	/*background-color: #345;*/
	margin: 0;
	padding: 0;
	-o-transition: background-color .15s ease-in-out;
	-ms-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out;
	border-right: 1px solid #444040;
}
nav li:last-child{
	border-right:0;
}
nav li:hover{
	background-color: #2E2E2E;
}
nav li:first-child{
	background-image: url("images/home2.png");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position:80px;
}
nav li:nth-child(2){
	background-image: url("images/blogg2.png");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position:88px;
}
nav li:nth-child(3){
	background-image: url("images/bloggpost2.png");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position:66px;
}
nav a{
	line-height: 2;
	font-size: 18px;
	font-weight: 300;
	display: block;
	text-decoration: none;
	color: #EEE;
}

nav ul li img {
	margin-right:5px;
}




/*
 *      BLOG and BLOGPOSTS
 */

.blogg-sidebar{
	margin:40px 0 0 10px;
	font-size: 13px;
	padding:20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	color: #456;
	box-shadow: -2px 4px 3px #DDD;
}
.blogg-sidebar h3{
	color:#456;
}
.menu-button{
	display: block;
	padding: 4px;
	width: 100%;
	margin-top: 50px;
	color: #456;
	text-transform: uppercase;
	border-bottom: 1px solid #456;
}
.menu-button h3{
	display: inline;
}
.menu-button img{
	float: right;
}

.menu-item{
	width: 280px;
}
.menu-item ul li{
	padding:2px 4px;
}
/*
 *  	ARTICLES
 */

article{
	margin-top: 30px;
	margin-bottom: 3px;
	padding-bottom: 30px;
	border-bottom: 2px solid #444040;
}
.article-footer:before,.article-footer:after{
	content: "";
	display: table;
}
.article-footer:after{
	clear: both;
}
.article-footer{
	margin-bottom: 50px;
	font-style: italic;
	font-size: 14px;
}
.article-footer span p{
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
	color: #444040;
}
.article-footer span a{
	font-weight: 900;
	text-decoration: none;
	float: right;
	color: #456;
}
.article-footer span a:hover{
	color: #607085;
}
.article-footer img{
	margin-left: 5px;
}


/*
 *    BUTTONS
 */
.next-button{
	background-image:url("images/rightarrow.png");
	background-position: right;
	background-size: 18px;
	background-repeat: no-repeat;
	float: right;
	width: auto;
	min-width: 130px;
	padding: 0 20px;
	margin-top: 50px;
	line-height: 21px;
}

.last-button{
	background-image:url("images/leftarrow.png");
	background-position: left;
	background-size: 18px;
	background-repeat: no-repeat;
	float: left;
	width: auto;
	min-width: 130px;
	margin-top: 50px;
	line-height: 21px;
	padding-left:10px;

}


/*
 *COMMENTS FROM USERS
 */

sub{
	display: block;
	margin-top: 25px;
	padding: 10px 0;
	font-family: Tahoma;
	border-bottom: 1px solid black;
}

/*
 * COMMENT FORM
 */

button{
	background-color:#EEE ;
	font-size: 12px;
	width: auto;
 	color: #444040;
	outline: none;
	margin: 10px 0;
	text-transform: uppercase;
	border: 1px solid #444040;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
button:hover{
	cursor: pointer;
 	background-color: #DBDBDB;
 	color:#444040;
}
button a{
	text-decoration: none;
	color:#444040;
}
#new-comment-button{
 	padding:5px;
 }
 #comment-box{
 	height: auto;
 	width: 535px;
 	margin: 10px 0 50px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
 	border: 1px solid #444040;
 }
 .comment-area{
 	height: auto;
 	margin-top: 40px;
 }
.comment-form {
  	margin: 0 auto;
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
 }
  	.comment-form input[type="text"] {
    	height: 35px;
    	width: 300px;
    	background-color: #fff;
    	margin-top: 20px;
    	margin-left: 20px;
    	padding-left: 5px;
    	font-size: 15px;
    	color: #556677;
    	border: 0px solid #444040;
    	-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
    	-webikit-box-shadow: -1px -1px 26px 4px #DDD inset;
	}
    	.comment-form input[type="text"]:focus {
	    	outline-width: 0px;
	    	border: 1px solid #AAA;
      	}
      	.comment-form textarea {
      		width: 490px;
      		font-size: 15px;
      		margin: 20px;
	    	padding: 5px 0 0 5px;
	    	border: 0;
	    	outline-width: 0px;
	    	-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
      	}
      	.comment-form textarea:focus{
      		border: 1px solid #AAA;
      	}

.submit-comment-button {
	width: auto;
	color: #444040;
  	background-color: #EEE;
  	border: 1px solid #444040;
  	margin:0 20px 0 0;
	float: right;
  	padding:5px;
  	font-size: 12px;
  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
  	text-transform: uppercase;
}
  	.submit-comment-button:hover {
    	background-color: #DBDBDB; 
    	cursor: pointer;
  	}
  	.submit-comment-button:focus {
    	outline: none;
    	-outline-radius: 2px;
    	-moz-outline-radius: 2px;
    	-webkit-outline-radius: 2px;
    	background-color: #C2C0BE; 
  	}

/*
 *      MISC
 */

.stop:after{
	clear:both;
}
.highlight{
	background-color: #EEE;
}
.highlight a{
	color:#444040;
	font-weight: 600;
}
.change-to-green{
	background-color: #B8D8C6;
}
.change-to-green:hover{
	background-color: ;
}


